.wrapper {
    background: url("../images/background.svg") no-repeat;
    background-size: cover;
    width: 1028px;
    padding: 2.5rem 10rem 1rem;
    margin: auto;
    font-family: "Roboto";
}

.navigation {
    height: 3.75rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.logotype {
    display: inline-flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.logotype::before {
    content: "";
    background: url("../images/logo.svg") no-repeat;
    width: 53px;
    height: 47px;
    margin-right: 0.5rem;
}

.milan-logo-text {
    font-weight: 700;
}

.milan-logo-part {
    margin-bottom: 0.4rem;
    font-size: 1.8rem;
}

.holidays-logo-part {
    font-size: 1.125rem;
}

.logotype:hover {
    filter: invert(43%) sepia(57%) saturate(846%) hue-rotate(338deg) brightness(101%) contrast(102%);
}

.contact-information {
    text-align: end;
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact {
    color: white;
    text-decoration: none;
}

.contact:hover {
    color: #F26522;
}

.images-template {
    display: grid;
    grid-gap: 2.3rem 3.37rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.image-box {
    text-decoration: none;
}

.image-box:hover .image-description {
    color: #F26522;
}

.place-image {
    border-width: 0 2px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #FFFFFF, #00000000) 1;
    position: relative;
}

.view-details-container {
    position: relative;
}
  
.view-details {
    position: absolute;
    transition: height 0.15s;
    bottom: 0;
    width: 99.6%;
    height: 0;
    margin-bottom: 0.15rem;
    background-color: #F26522;
    color: #FFFFFF;
    transition: .5s;
    overflow: hidden;
}

.view-details-container:hover > .view-details {
    height: 3.5rem;
}

.view-details>div {
    margin: 0.5rem 1rem 0;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.from {
    font-size: 0.625rem;
    margin: 0.5rem 1rem 0;
}

.price {
    font-size: 1.25rem;
}

.details-link {
    display: flex;
    font-size: 0.8rem;
}

.details-link::after {
    content: "";
    background: url("../images/vector-after.svg") no-repeat;
    width: 7px;
    height: 12px;
    margin-left: 1rem;
}

.image-description {
    margin-top: 1.25rem;
    font-size: 1.125rem;
    text-align: center;
    color: white;
}

.copyright {
    margin-top: 3rem;
    color: white;
    text-align: center;
    font-size: 0.75rem;
}